[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/jsonserializer"]
	path = third_party/jsonserializer
	url = https://github.com/AlpsMonaco/jsonserializer
