[submodule "v2/third_party/asio"]
	path = v2/third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "v2/third_party/spdlog"]
	path = v2/third_party/spdlog
	url = https://github.com/gabime/spdlog
